<div class="page-header">
    <h1>{% block headline %}Ein unverzeihlicher Fehler ist aufgetreten{% endblock headline %}</h1>
</div>

<h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>