
<div class="page-header">
    <h1>{% block headline %}eine unvorhergesehene ausnahme ist eingetroffen{% endblock headline %}</h1>
</div>

<h2>
    {{ exception.message|nl2br|format_file_from_text }}
</h2>

<div>
    <strong>{{ status_code }}</strong> {{ status_text }} - {{ exception.class|abbr_class }}
</div>
