parameters:
	ignoreErrors:
		-
			message: "#^Method Cbase\\\\App\\\\Application\\\\Controller\\\\IndexController\\:\\:getAuth\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../../src/App/Application/Controller/IndexController.php

		-
			message: "#^Class Cbase\\\\ArtefactGuide\\\\Application\\\\Action\\\\ListArtefacts\\\\ListArtefactsQuery does not have a constructor and must be instantiated without any parameters\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Action/ListArtefacts/ListArtefactsQuery.php

		-
			message: "#^Class Cbase\\\\ArtefactGuide\\\\Application\\\\Action\\\\ListImages\\\\ListImagesQuery does not have a constructor and must be instantiated without any parameters\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Action/ListImages/ListImagesQuery.php

		-
			message: "#^Property Cbase\\\\ArtefactGuide\\\\Application\\\\Action\\\\UpdateArtefact\\\\UpdateArtefactCommand\\:\\:\\$artefact type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Action/UpdateArtefact/UpdateArtefactCommand.php

		-
			message: "#^Cannot access offset '\\$date' on mixed\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Cannot access offset '\\$id' on mixed\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Cannot access offset '\\$oid' on mixed\\.$#"
			count: 2
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Cannot access offset '_id' on mixed\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Cannot access offset 'assets' on mixed\\.$#"
			count: 2
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Cannot access offset 'author' on mixed\\.$#"
			count: 4
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Cannot access offset 'createdAt' on mixed\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Cannot access offset 'createdBy' on mixed\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Cannot access offset 'description' on mixed\\.$#"
			count: 5
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Cannot access offset 'licence' on mixed\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Cannot access offset 'name' on mixed\\.$#"
			count: 2
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Cannot access offset 'path' on mixed\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Cannot access offset 'slug' on mixed\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Parameter \\#1 \\$value of class Cbase\\\\ArtefactGuide\\\\Domain\\\\Slug constructor expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Parameter \\#1 \\$value of static method Cbase\\\\ArtefactGuide\\\\Domain\\\\Licence\\:\\:create\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Parameter \\#1 \\$value of static method Cbase\\\\Shared\\\\Domain\\\\MemberName\\:\\:create\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, mixed given\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Parameter \\#2 \\$name of static method Cbase\\\\ArtefactGuide\\\\Domain\\\\Artefact\\:\\:create\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Parameter \\#2 \\$path of static method Cbase\\\\ArtefactGuide\\\\Domain\\\\Image\\:\\:create\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Parameter \\#3 \\$cName of static method Cbase\\\\ArtefactGuide\\\\Domain\\\\Artefact\\:\\:create\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Parameter \\#3 \\$description of static method Cbase\\\\ArtefactGuide\\\\Domain\\\\Image\\:\\:create\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Parameter \\#4 \\$author of static method Cbase\\\\ArtefactGuide\\\\Domain\\\\Image\\:\\:create\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Parameter \\#5 \\$description of static method Cbase\\\\ArtefactGuide\\\\Domain\\\\Artefact\\:\\:create\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Application/Console/CbagRestoreCommand.php

		-
			message: "#^Method Cbase\\\\ArtefactGuide\\\\Domain\\\\Artefact\\:\\:jsonSerialize\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Domain/Artefact.php

		-
			message: "#^Property Cbase\\\\ArtefactGuide\\\\Domain\\\\Artefact\\:\\:\\$images with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: ../../../src/ArtefactGuide/Domain/Artefact.php

		-
			message: "#^Property Cbase\\\\ArtefactGuide\\\\Domain\\\\Image\\:\\:\\$artefacts with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: ../../../src/ArtefactGuide/Domain/Image.php

		-
			message: "#^Method Cbase\\\\ArtefactGuide\\\\Infrastructure\\\\Persistence\\\\Doctrine\\\\Repository\\\\DoctrineArtefactRepository\\:\\:all\\(\\) should return array\\<Cbase\\\\ArtefactGuide\\\\Domain\\\\Artefact\\> but returns array\\<int, object\\>\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Infrastructure/Persistence/Doctrine/Repository/DoctrineArtefactRepository.php

		-
			message: "#^Method Cbase\\\\ArtefactGuide\\\\Infrastructure\\\\Persistence\\\\Doctrine\\\\Repository\\\\DoctrineArtefactRepository\\:\\:getBySlug\\(\\) should return Cbase\\\\ArtefactGuide\\\\Domain\\\\Artefact but returns object\\|null\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Infrastructure/Persistence/Doctrine/Repository/DoctrineArtefactRepository.php

		-
			message: "#^Method Cbase\\\\ArtefactGuide\\\\Infrastructure\\\\Persistence\\\\Doctrine\\\\Repository\\\\DoctrineImageRepository\\:\\:all\\(\\) should return array\\<Cbase\\\\ArtefactGuide\\\\Domain\\\\Image\\> but returns array\\<int, object\\>\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Infrastructure/Persistence/Doctrine/Repository/DoctrineImageRepository.php

		-
			message: "#^Method Cbase\\\\ArtefactGuide\\\\Infrastructure\\\\Persistence\\\\Doctrine\\\\Repository\\\\DoctrineImageRepository\\:\\:findByImageIds\\(\\) should return array\\<Cbase\\\\ArtefactGuide\\\\Domain\\\\Image\\> but returns array\\<int, object\\>\\.$#"
			count: 1
			path: ../../../src/ArtefactGuide/Infrastructure/Persistence/Doctrine/Repository/DoctrineImageRepository.php

		-
			message: "#^Method Cbase\\\\Authentication\\\\Domain\\\\User\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../../src/Authentication/Domain/User.php

		-
			message: "#^Parameter \\#1 \\$accessToken of method KnpU\\\\OAuth2ClientBundle\\\\Client\\\\OAuth2Client\\:\\:fetchUserFromToken\\(\\) expects League\\\\OAuth2\\\\Client\\\\Token\\\\AccessToken, League\\\\OAuth2\\\\Client\\\\Token\\\\AccessTokenInterface given\\.$#"
			count: 1
			path: ../../../src/Authentication/Infrastructure/OAuth2/Authenticator.php

		-
			message: "#^Method Cbase\\\\Authentication\\\\Infrastructure\\\\OAuth2\\\\Provider\\:\\:checkResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../../src/Authentication/Infrastructure/OAuth2/Provider.php

		-
			message: "#^Method Cbase\\\\Authentication\\\\Infrastructure\\\\OAuth2\\\\Provider\\:\\:createResourceOwner\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../../src/Authentication/Infrastructure/OAuth2/Provider.php

		-
			message: "#^Method Cbase\\\\Authentication\\\\Infrastructure\\\\OAuth2\\\\Provider\\:\\:getDefaultScopes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../../src/Authentication/Infrastructure/OAuth2/Provider.php

		-
			message: "#^Parameter \\#1 \\$message of class League\\\\OAuth2\\\\Client\\\\Provider\\\\Exception\\\\IdentityProviderException constructor expects string, Psr\\\\Http\\\\Message\\\\StreamInterface given\\.$#"
			count: 1
			path: ../../../src/Authentication/Infrastructure/OAuth2/Provider.php

		-
			message: "#^Method Cbase\\\\Authentication\\\\Infrastructure\\\\OAuth2\\\\UserProvider\\:\\:supportsClass\\(\\) has parameter \\$class with no type specified\\.$#"
			count: 1
			path: ../../../src/Authentication/Infrastructure/OAuth2/UserProvider.php

		-
			message: "#^Class Cbase\\\\Shared\\\\Domain\\\\Collection extends generic class ArrayObject but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: ../../../src/Shared/Domain/Collection.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\Collection\\:\\:jsonSerialize\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/Collection.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\Utils\\\\CollectionUtils\\:\\:keyBy\\(\\) has parameter \\$collection with no value type specified in iterable type iterable\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/Utils/CollectionUtils.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\Utils\\\\CollectionUtils\\:\\:keyBy\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/Utils/CollectionUtils.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\Utils\\\\CollectionUtils\\:\\:map\\(\\) has parameter \\$collection with no value type specified in iterable type iterable\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/Utils/CollectionUtils.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\Utils\\\\CollectionUtils\\:\\:map\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/Utils/CollectionUtils.php

		-
			message: "#^Parameter \\#1 \\$string of function strtolower expects string, string\\|null given\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/Utils/StringUtils.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|null given\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/Utils/StringUtils.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\Enum\\:\\:__callStatic\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/Enum.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\Enum\\:\\:__callStatic\\(\\) has parameter \\$args with no type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/Enum.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\Enum\\:\\:__construct\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/Enum.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\Enum\\:\\:ensureIsBetweenAcceptedValues\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/Enum.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\Enum\\:\\:randomValue\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/Enum.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\Enum\\:\\:throwExceptionForInvalidValue\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/Enum.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\Enum\\:\\:throwExceptionForInvalidValue\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/Enum.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\Enum\\:\\:value\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/Enum.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\Enum\\:\\:values\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/Enum.php

		-
			message: "#^Property Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\Enum\\:\\:\\$cache has no type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/Enum.php

		-
			message: "#^Property Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\Enum\\:\\:\\$value has no type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/Enum.php

		-
			message: "#^Property Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\IntValueObject\\:\\:\\$value has no type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/IntValueObject.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\Uuid\\:\\:ensureIsValidUuid\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/Uuid.php

		-
			message: "#^Property Cbase\\\\Shared\\\\Domain\\\\ValueObject\\\\Uuid\\:\\:\\$value has no type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Domain/ValueObject/Uuid.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Infrastructure\\\\Persistence\\\\Doctrine\\\\DoctrineRepository\\:\\:repository\\(\\) has parameter \\$entityClass with no type specified\\.$#"
			count: 1
			path: ../../../src/Shared/Infrastructure/Persistence/Doctrine/DoctrineRepository.php

		-
			message: "#^Method Cbase\\\\Shared\\\\Infrastructure\\\\Persistence\\\\Doctrine\\\\DoctrineRepository\\:\\:repository\\(\\) return type with generic class Doctrine\\\\ORM\\\\EntityRepository does not specify its types\\: TEntityClass$#"
			count: 1
			path: ../../../src/Shared/Infrastructure/Persistence/Doctrine/DoctrineRepository.php

		-
			message: "#^Unable to resolve the template type T in call to method Doctrine\\\\ORM\\\\EntityManagerInterface\\:\\:getRepository\\(\\)$#"
			count: 1
			path: ../../../src/Shared/Infrastructure/Persistence/Doctrine/DoctrineRepository.php

		-
			message: "#^PHPDoc tag @var for variable \\$images contains generic class Doctrine\\\\Common\\\\Collections\\\\ArrayCollection but does not specify its types\\: TKey, T$#"
			count: 1
			path: ../../../tests/ArtefactGuide/Application/Action/UpdateArtefact/UpdateArtefactHandlerTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, mixed given\\.$#"
			count: 1
			path: ../../../tests/ArtefactGuide/Application/Action/UpdateArtefact/UpdateArtefactHandlerTest.php

		-
			message: "#^Trying to invoke mixed but it's not a callable\\.$#"
			count: 2
			path: ../../../tests/ArtefactGuide/Application/Action/UpdateArtefact/UpdateArtefactHandlerTest.php

		-
			message: "#^Parameter \\#1 \\$item of method Cbase\\\\Shared\\\\Domain\\\\Collection\\<Cbase\\\\ArtefactGuide\\\\Domain\\\\Artefact\\>\\:\\:append\\(\\) expects Cbase\\\\ArtefactGuide\\\\Domain\\\\Artefact, Cbase\\\\ArtefactGuide\\\\Domain\\\\Image given\\.$#"
			count: 1
			path: ../../../tests/ArtefactGuide/Domain/ArtefactCollectionTest.php

		-
			message: "#^Parameter \\#1 \\$items of static method Cbase\\\\Shared\\\\Domain\\\\Collection\\<Cbase\\\\ArtefactGuide\\\\Domain\\\\Artefact\\>\\:\\:create\\(\\) expects array\\<Cbase\\\\ArtefactGuide\\\\Domain\\\\Artefact\\>, array\\<int, Cbase\\\\ArtefactGuide\\\\Domain\\\\Image\\> given\\.$#"
			count: 1
			path: ../../../tests/ArtefactGuide/Domain/ArtefactCollectionTest.php

		-
			message: "#^Method Tests\\\\ArtefactGuide\\\\Domain\\\\LicenceTest\\:\\:test_licence_can_be_created_with_valid_values\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../../tests/ArtefactGuide/Domain/LicenceTest.php

		-
			message: "#^Method Tests\\\\ArtefactGuide\\\\Domain\\\\LicenceTest\\:\\:test_licence_creation_fails_with_invalid_value\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../../tests/ArtefactGuide/Domain/LicenceTest.php

		-
			message: "#^Method Tests\\\\ArtefactGuide\\\\Infrastructure\\\\PhpUnit\\\\ArtefactGuideInfrastructureTestCase\\:\\:artefactRepository\\(\\) should return Cbase\\\\ArtefactGuide\\\\Domain\\\\ArtefactRepository but returns mixed\\.$#"
			count: 1
			path: ../../../tests/ArtefactGuide/Infrastructure/PhpUnit/ArtefactGuideInfrastructureTestCase.php

		-
			message: "#^Method Tests\\\\ArtefactGuide\\\\Infrastructure\\\\PhpUnit\\\\ArtefactGuideInfrastructureTestCase\\:\\:imageRepository\\(\\) should return Cbase\\\\ArtefactGuide\\\\Domain\\\\ImageRepository but returns mixed\\.$#"
			count: 1
			path: ../../../tests/ArtefactGuide/Infrastructure/PhpUnit/ArtefactGuideInfrastructureTestCase.php

		-
			message: "#^Parameter \\#2 \\$name of static method Cbase\\\\ArtefactGuide\\\\Domain\\\\Artefact\\:\\:create\\(\\) expects string, array\\|string given\\.$#"
			count: 1
			path: ../../../tests/Factory/ArtefactGuide/ArtefactFactory.php

		-
			message: "#^Parameter \\#3 \\$cName of static method Cbase\\\\ArtefactGuide\\\\Domain\\\\Artefact\\:\\:create\\(\\) expects string, array\\|string given\\.$#"
			count: 1
			path: ../../../tests/Factory/ArtefactGuide/ArtefactFactory.php

		-
			message: "#^Cannot call method value\\(\\) on mixed\\.$#"
			count: 1
			path: ../../../tests/Fake/Infrastructure/Doctrine/InMemoryArtefactRepository.php
