<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
        executionOrder="random"
        bootstrap="../../../tests/bootstrap.php"
        colors="true"
        cacheResultFile="../cache/phpunit.result.cache"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="true"
        stopOnFailure="true"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="true"
        verbose="false"
>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true" />
    <server name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <coverage>
    <include>
      <directory suffix=".php">../../../src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="ArtefactGuide">
      <directory>../../../tests/ArtefactGuide</directory>
    </testsuite>
  </testsuites>
</phpunit>
