web/uploads/assets/*
web/uploads/assets_local/*
web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
vendor
bin
composer.phar
.idea/
app/config/parameters.yml
rockmongo
web/media/*
web/css/*
web/js/*
.vagrant
data/*
cache.properties
app/build/api*
app/build/code-browser/*
app/build/coverage/*
app/build/logs/*
app/build/pdepend/*
app/build/phpdox/*
