{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% if title %}
            {{ title }} -
        {% endif %}
        cbag3 - c-base artefact guide 3
    </title>
    {% render_bundle 'bootstrap' %}
    <link href="{% static 'favicon.ico' %}" rel='icon' type='image/x-icon'/>
    {% block head %}
    {% endblock head %}
</head>

<body>
    <div id="wrapper" class="container-fluid">
        {% block navigation %}
        {% endblock navigation %}

        {% block body %}
              {% block container %}
                  <div class="col-md-6">
                      <h1>Here be content!</h1>
                  </div>
              {% endblock container %}

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4"><div class="pull-right text-muted">&copy; 2021 c-base e.V. (dazz and smile)</div></div>
                    </div>
                </div>
            </footer>

        {% endblock body %}
    </div>

    {% block script %}
        {% render_bundle 'index' %}
    {% endblock script %}
</body>

</html>
