{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}CBAG3 - c-base Artefact Guide{% endblock %}


{% block page_header %}
<div class="page-header">
    <h1>{% block headline %}CBAG3: c-base Artefact Guide (page_header){% endblock headline %}</h1>
</div>
{% endblock page_header %}

{% block footer %}
<p>&copy; <a href="http://www.c-base.org" target="_blank">c-base.org</a> 2012</p>
{% endblock footer %}
