{% extends '::base.html.twig' %}

{% block page_header %}
<div class="page-header">
    <h1>{% block headline %}{{ artefact.name }}{% endblock headline %}</h1>
</div>
{% endblock page_header %}

{% block content %}
<div class="span12">
    <form novalidate action="{{ path('artefact_update', {'slug': artefact.slug})}}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button type="submit" class="btn">c_peichern</button>
    </form>
</div>
{% endblock content %}