{% extends '::base.html.twig' %}

{% block content %}
<div class="span9">

    <form action="{{ path('cbase_cbag3_artefact_artefact_update', {'id': id})}}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>

</div>
<div class="span3">
    {% block content_sidebar %}
    <h2>Artefacts</h2>
    {% endblock content_sidebar %}
</div>
{% endblock content %}