{% extends '::base.html.twig' %}

{% block page_header %}
    <div class="page-header">
        <h1>{% block headline %}CBAG3: Create Media{% endblock headline %}</h1>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="span9">

    <form novalidate action="{{ path('asset_create')}}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>

    </div>
    <div class="span3">
        {% block content_sidebar %}
        <h2>Actions</h2>
        <li><a href="{{ path('asset_index')}}">back to the list</a></li>
        {% endblock content_sidebar %}
    </div>
{% endblock content %}