{% extends '::base.html.twig' %}

{% block page_header %}
    <div class="page-header">
        <h1>{% block headline %}2d scan upl0rden{% endblock headline %}</h1>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="span9">
        <form novalidate action="{{ path('asset_create')}}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <button type="submit" class="btn">c_peichern</button>
        </form>
    </div>
    <div class="span3">
        {% block content_sidebar %}
        <h3>actionen</h3>
        <ul class="unstyled">
            <li><a href="{{ path('asset_index')}}">zurück zu den 2d scans</a></li>
        </ul>
        {% endblock content_sidebar %}
    </div>
{% endblock content %}