{% extends 'base.html.twig' %}

{% block title %}Alle Artefacte{% endblock %}

{% block body %}
    <h2>Alle Artefacte</h2>

    {% for artefact in artefacts %}
        <h4>{{ artefact }}</h4>
    {% endfor %}
{% endblock %}