{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}CBAG3: c-base artefact guide 3{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('index') }}
    {% endblock %}
    {% endblock %}
</head>
<body>
<div id="root"></div>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
{% block javascripts %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}
</body>
</html>