{% extends '::base.html.twig' %}

{% block content %}
<div class="span9">
    <p>
        Was ist CBAG3?
    </p>
</div>
<div class="span3">
    {% block content_sidebar %}
    <h2>Actions</h2>
    <ul>
        <li><a href="{{ path('cbase_cbag3_base_artefact_index')}}">see all artefacts</a></li>
        <li><a href="{{ path('cbase_cbag3_base_asset_index')}}">see all assets</a></li>
    </ul>
    {% endblock content_sidebar %}
</div>
{% endblock content %}