{% extends '::base.html.twig' %}

{% block content %}
<div class="span9">
    <p>
        willcommen im c-base artefact guide 3! Was ist CBAG3?
    </p>
    <p>
        der cbag3 soll dacu dienen, informationen über die auf der station materialisierten artefacte zu sammeln und interessierten bereitzustellen. cu diesem zweck wurden in der nähe der artefacte eingec_weißte QR codes platziert, die mit modernen communicatoren gescannt werden können und den benutzer dann automatisch zu den informationen des jweiligen artefacts weiterleitet. so haben aliens und member jederzeit die möglichkeit, mehr cu den an bord befindlichen artefacten zu erfahren, auch wenn gerade kein member da ist, welches eine ausführliche führung geben könnte.
    </p>
    <p>
        weitere informationen werden hier hinzugefügt worden sein.
    </p>
</div>
<div class="span3">
    {% block content_sidebar %}
    <h2>Actions</h2>
    <ul>
        <li><a href="{{ path('cbase_cbag3_base_artefact_index')}}">see all artefacts</a></li>
        <li><a href="{{ path('cbase_cbag3_base_asset_index')}}">see all assets</a></li>
    </ul>
    {% endblock content_sidebar %}
</div>
{% endblock content %}