{% extends '::base.html.twig' %}

{% block page_header %}
<div class="page-header">
    <h1>{% block headline %}CBAG3: {{artefact.name}}{% endblock headline %}</h1>
</div>
{% endblock page_header %}

{% block content %}
<div class="span9">

    <p>{{artefact.description | markdown}}</p>

</div>
<div class="span3">
    {% block content_sidebar %}
    <h2>Actions</h2>
    <ul>
        <li><a href="{{ path('cbase_cbag3_base_default_index')}}">back to the list</a></li>
        <li><a href="{{ path('cbase_cbag3_base_default_update', {'id': artefact.id})}}">edit</a></li>
        <li><a href="">delete</a></li>
    </ul>
    {% endblock content_sidebar %}
</div>
{% endblock content %}